@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    background-color: black;
}

/*logo del navegador*/
#logo {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    padding-left: 0.5px;  
}

/*Barra de navegación*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    background-color: rgb(235, 170, 49);
    
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(15, 15, 15);
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    margin-right: 249px;
    margin-left: 140;
    float: right;
    padding-left: 5px;
    padding-right: 0.5px;
}
    
    
li a:hover {
    background-color: rgb(209, 21, 21);
}

/*Diseño de secciones*/
h2 {
    font-family: 'EB Garamond', serif;
    color: rgb(231, 228, 228);
    font-size: 20px;
    letter-spacing: 5px;
    text-indent: 1px;
    margin-left: 550px;
    margin-right: 250px;
}


p {
    font-family: 'EB Garamond', serif;
    text-align: justify;
    color: rgb(231, 228, 228);
    font-size: 20px;
    letter-spacing: 3px;
}

/*Margen del texto del contenido*/
.contenido {
    margin-left: 250px;
    margin-right: 250px;
}

.imagenG {
    display: block;
    text-align: center;

}

/*Estilo pie de la página*/
.pie {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}

footer {
    background-color: indianred;
}