@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/*logo del navegador*/
#logo {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    padding-left: 0.5px;  
}

/*Barra de navegación*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
    background-color: rgb(235, 170, 49);
    
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(15, 15, 15);
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    margin-right: 249px;
    margin-left: 140;
    float: right;
    padding-left: 5px;
    padding-right: 0.5px;
}
    
    
li a:hover {
    background-color: rgb(209, 21, 21);
}

body {
    background-color: black;
}

/*Estilo de la tabla*/
table td {
    background-color:cadetblue ;
    font-family: 'Anton', sans-serif;
    color: black;
}

table{
    margin-left: 650px;
}

/*Diseño de formulario*/

form h3 {
    font-family: 'Anton', sans-serif;
    color:white;
    text-align: center;
}

form p {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: white;
}  

button{
    text-align: center;
}




/*Estilo pie de la página*/
.pie {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}

footer {
    background-color: indianred;
}